
body {
    background-color: #223f58;
}
.navbar-inverse {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}


.side-nav {
    background-color: #223f58;
    top: 52px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #223f58;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #1e3040 !important;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #fff;
    background-color: #1f364a;
}
.nav>li {
    position: relative;
    display: block;
    border-bottom: 1px solid #1f364a;
}
.fa-fw {
    width: 1.985714em;
    text-align: center;
}
tbody > tr > td {
     vertical-align: middle !important;
}

.dropdown-menu, .dropdown-toggle{
    width:100% !important;
}



.stateFigur {

    font-size:12px;
    color:black;
    font-weight:normal;
}
.stateTitle {
    font-size:12px;
    color:gray;
    font-weight:bold;
}


#page-wrapper {
            background-color: #ecf0f5 !important;
}
.MainWrapper {
    margin:0 auto;
    width:94%;
    margin-left:3%;
}
.MainWrapper .row{
    margin-right: 0px;
    margin-left: 0px;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}



.content-header h2 {
    font-size: 27px;
    color: #1e3040;
    background-color: #fff;
    padding: 10px 9px;
    border-top: 3px solid #d2d6de;
    border-bottom: 1px solid #f4f4f4;
    border-top-color: #00c0ef;
    margin-bottom:40px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width:100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    min-height:360px;

}


.box1 {
            
    min-height:0 !important;
    display:table;
    padding-bottom:20px;

}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box.box-info {
    border-top-color: #00c0ef;
}
.box.box-primary {
    border-top-color: #3c8dbc;
}

.controll-group {
    padding: 16px 10px;
}
.controll-group .btn{
    float:right !important;
}
.controll-group {
    font-weight: 500;
    color: #333;
}

    .controll-group-or {
    text-align:center;
}

#spFacts {
    min-height: 116px;
}

#spVideo, #couponSection, #sponsorSection {
    display:none;
}

.proImage {
    float: left;
    height: 157px;
    padding: 20px 0px;
    width: 209px;
    text-align: center;
    color: white;
}

.navbar-brand {
    padding: 15px 49px;
}

.breadcrumb {
    border-top: 3px solid;
    border-top-color: #3c8dbc;
    border-bottom: 1px solid #ccc;
}


.breadcrumb .btn-primary {
    color: #fff;
    background-color: #00a65a;
    border-color: #00a65a;
    
}

.adTableHeading {
    font-weight:bold;
}

.adFooter {
    width: 96%;
    padding: 8px 0px;
    border-top: 1px solid #ccc;
    margin: 18px 0px;
    margin-left: 2%;
    float: left;
}

.adFooter .btn {
    float: left;
    width: 109px;
    padding: 5px 10px;
    /* width: 11%; */
    margin-top: 0px;
    margin-left: 5px;
}